<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <Extensions>
    <Data>
      <!--<Extension Name="POSTGRESQL" DisplayName="PostgreSQL Provider" Type="Npgsql.NpgsqlFactory, Npgsql" />-->
      <!--<Extension Name="MYSQL" DisplayName="MySql Provider" Type="MySqlConnector.MySqlConnectorFactory, MySqlConnector" />-->
      <!--<Extension Name="SQLITE" DisplayName="Sqlite Provider" Type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
      <!--<Extension Name="EXCEL" DisplayName="EXCEL Provider" Type="GrapeCity.ActiveReports.Core.DataProviders.Excel.ExcelDataProviderFactory, MESCIUS.ActiveReports.Core.DataProviders.Excel" />-->
    </Data>
  </Extensions>
</Configuration>